/* Ensure body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color:#FF5733;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
}



.sidebar {
    text-align: center;
    align-content: center;
    width: 100%;
    padding: 15px;
    height: 5vh;
}

.sidebar a{
    text-decoration: none;
    width: 60px;
    height: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    color: white;
    border-radius: 25px;
}

.sidebar a:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This centers the content horizontally */
    align-items: center; /* This centers the content vertically */
    margin: 20px;
    height: 100vh; /* Ensures the container takes up the full viewport height */
}

.main-content {
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px; /* Optional: Limits the max width to prevent too wide content */
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
    margin-left: 20px;
    display: block;
}
.post {
    display: flex;
    background-color:white;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 2px solid #ddd;
}
.image img{
    width: 450px;
    height: 100%;
}
.post .text{
    padding: 15px;
    display: block;
}

.post h2 {
    font-size: 1.8em;
    cursor: pointer;
}

.post p {
    line-height: 1.6em;
}
.post:hover{
    transform: scale(1.01);
    transition: 0.5s ease;
}
.text {
    padding: 15px;
    display: block;
    box-sizing: border-box;  /* Ensures padding is included in the width */
}
.text a{
    text-align: right;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #FF5733;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}
